* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  background-color: #011627;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: #011627;
}

#Logo {
  width: 9rem;
  height: 2rem;
  margin-left: 1rem;
  object-fit: cover;
  transition: 0.3s;
}

#Logo:hover {
  opacity: calc(80%);
}

#anchor-container {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin-right: 0.5rem;
}

.anchor-style {
  text-decoration: none;
  color: #eadeda;
  padding: 0.3rem 0.4rem;
  background-color: #d90368;
  border-radius: 12px 5px;
  border: 2px solid #d90368;
  text-align: center;
}

.anchor-style:hover {
  border: 2px solid #eadeda;
  transition: 0.3s;
}

.anchor-style-active {
  text-decoration: none;
  color: #eadeda;
  padding: 0.3rem 0.4rem;
  background-color: #820263;
  border-radius: 12px 5px;
  border: 2px solid #820263;
}

.anchor-style-active:hover {
  border: 2px solid #eadeda;
  transition: 0.3s;
}

#title-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-top: 2px solid #820263;
  background-color: #011627;
}

#title {
  color: #eadeda;
  font-weight: 500;
  transition: 0.2s;
}
#title:hover {
  color: #820263;
}

.arrow-title {
  color: #d90368;
  font-size: xx-large;
  font-weight: 500;
  transition: 0.2s;
}
.arrow-title:hover {
  color: #eadeda;
}

main {
  background-image: url(../images/pattern.png);
  background-repeat: repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searcher-container {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#categories-container {
  display: flex;
  width: 1040px;
  flex-wrap: wrap;
  align-items: center;
  width: 60%;
  gap: 0.5rem;
}

.category-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: white;
  background-color: #af1960;
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
}

.search-box {
  width: fit-content;
  height: fit-content;
  margin-right: 1rem;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #af1960;
  padding-right: 40px;
  color: #fff;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  margin-right: 1rem;
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.search-box {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.btn-search {
  justify-self: center;
}

#cards-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

#cards-container a {
  text-decoration: none;
  color: #011627;
  transition: 0.05s;
  position: relative;
  right: 0px;
  bottom: 0px;
  transition: all 0.2s;
}

#cards-container a:hover {
  position: relative;
  right: 10px;
  bottom: 10px;
  filter: drop-shadow(10px 10px 1px #820263);
}
.card {
  width: 13rem;
  height: 18rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #eadeda;
}
.card img {
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 0.2rem;
  width: 13rem;
  height: 8rem;
  object-fit: cover;
}

.card span {
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.card-title {
  color: blue;
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5rem;
  gap: 1rem;
  color: #d90368;
  background-color: #011627;
}

textarea {
  width: 90%;
  height: 40%;
}

.botondeenviar {
  text-align: center;
}

#details-container {
  display: flex;
  border-radius: 5px;
  align-items: center;
  width: 80%;
  height: 26rem;
  background-color: #eadeda;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#details-container img {
  height: 26rem;
  border-radius: 5px 0px 0px 5px;
  width: 50%;
  object-fit: cover;
}

#details-container div {
  width: 90%;
  gap: 1rem;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-contact {
  display: column;
  align-items: center;
}

#contact {
  background-color: #eadeda;
  border-radius: 5px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}
#contact input,
label {
  width: 90%;
  text-align: start;
}

#contact .button-input {
  width: 3rem;
  text-align: center;
}

.textarea {
  width: 300px;
  height: 50px;
}

#tablas-estadisticas {
  text-align: start;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#tablas-estadisticas span {
  text-align: center;
  color: #c23365;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(57, 9, 20);
  border-collapse: collapse;
}
.stats-table {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 70%;
}

.stats-table span {
  text-align: center;
  color: #c23365;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(57, 9, 20);
  border-collapse: collapse;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: start;
  font-size: x-small;
}

th,
td {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgb(255, 255, 255);
  color: #c23365;
  border: 1px solid rgb(57, 9, 20);
  font-weight: 500;
  font-size: medium;
}

th {
  font-weight: 600;
  font-size: medium;
}
.superth {
  font-weight: 700;
  font-size: x-large;
}

footer img {
  height: 30px;
  width: 30px;
}
.social-media-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 900px) {
  #nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #011627;
    padding-bottom: 1rem;
  }
  #anchor-container {
    padding-top: 1rem;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    gap: 0.2rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    flex-wrap: wrap;
  }
  #searcher-container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    margin-top: 1rem;
  }
  #categories-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
    gap: 1rem;
  }
  #details-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: #eadeda;
    padding-bottom: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #details-container img {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    height: 30%;
    object-fit: cover;
  }

  #details-container div {
    width: 50%;
    height: 60%;
    gap: 0.5rem;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 24rem;
    display: flex;
    align-items: center;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: start;
    font-size: x-small;
  }

  th,
  td {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(255, 255, 255);
    color: #c23365;
    border: 1px solid rgb(57, 9, 20);
  }

  #tablas-estadisticas {
    text-align: start;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  #tablas-estadisticas span {
    text-align: center;
    color: #c23365;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(57, 9, 20);
    border-collapse: collapse;
  }
}
